<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>司机身份认证</title>
    <script src="../../static/js/mui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/mui.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="certifiedDriver.css"/>
    <script src="../../static/js/vue.js"></script>
    <script>
        
    		(function() {
          window.onresize = function() {
            var winW = (document.documentElement.clientWidth || document.body.clientWidth);
            document.documentElement.style.fontSize = winW / 3.6 + "px";
          };
          var winW = document.documentElement.clientWidth || document.body.clientWidth;
          document.documentElement.style.fontSize = winW / 3.6 + "px";
        })(window)
      	mui.init();
    </script>
</head>
<body>
	<div id="app">
        <header id="head" class="mui-bar mui-bar-nav">
            <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left font-white"></a>
            <h1 class="mui-title">司机身份认证</h1>
        </header>
		<div class="box">
            <div class="step1" v-if="stepShow1">
                <div class="step1Top d-flex justify-content-center padding-a-14">
                    <div class="d-flex justify-content-center stepBox">
                        <div class="per">
                            <div class="step green">
                                1
                            </div>
                            <div class="stepInfo">
                                个人信息
                            </div>
                        </div>
                        <div class="per">
                            <div class="step">
                                2
                            </div>
                            <div class="stepInfo">
                                车辆信息
                            </div>
                            
                        </div>
                        <div class="per last">
                            <div class="step">
                                3
                            </div>
                            <div class="stepInfo">
                                完成
                            </div>
                        </div>
                        <div class="line">
                        </div>
                    </div>
                </div>
                <form class="mui-input-group">
                    <div class="mui-input-row d-flex align-items-center">
                        <label>真实姓名</label>
                        <input type="text" class="mui-input-clear" v-model.trim="username" placeholder="请输入真实姓名">
                    </div>
                    <div class="mui-input-row d-flex align-items-center">
                        <label>身份证号</label>
                        <input type="text" class="mui-input-clear" v-model.trim="idCard" placeholder="请输入18位身份证号码">
                    </div>
                    <div class="mui-button-row nextStep">
                        <button type="button"  :class="addClass ? 'mui-btn-success' : ''" class="mui-btn" @click="nextStep1">下一步</button>
                    </div>
                </form>
            </div>
            <div class="step2" v-if="stepShow2">
                <div class="step1Top d-flex justify-content-center padding-a-14">
                    <div class="d-flex justify-content-center stepBox">
                        <div class="per">
                            <div class="step">
                                <img src="../../static/images/true.png" alt="">
                            </div>
                            <div class="stepInfo">
                                个人信息
                            </div>
                        </div>
                        <div class="per">
                            <div class="step green">
                                2
                            </div>
                            <div class="stepInfo">
                                车辆信息
                            </div>
                            
                        </div>
                        <div class="per last">
                            <div class="step">
                                3
                            </div>
                            <div class="stepInfo">
                                完成
                            </div>
                        </div>
                        <div class="line">
                        </div>
                    </div>
                </div>
                <form class="mui-input-group">
                    <div class="mui-input-row d-flex align-items-center">
                        <label>车牌号</label>
                        <input type="text" class="mui-input-clear" v-model.trim="chepai" placeholder="请输入车牌号">
                    </div>
                    <div class="mui-input-row d-flex align-items-center on">
                        <label>车型</label>
                        <input type="text" readonly="readonly"  @click="selectCarLength(0)" class="mui-input-clear" v-model.trim="chexing" placeholder="请选择">
                    </div>
                    <div class="mui-input-row d-flex align-items-center on">
                        <label>车长</label>
                        <input type="text" readonly="readonly"  @click="selectCarLength(1)" class="mui-input-clear" v-model.trim="chechang" placeholder="请选择">
                    </div>
                    <div class="mui-input-row d-flex align-items-center">
                        <label>载重</label>
                        <input type="text" class="mui-input-clear" v-model.trim="zaizhong" placeholder="请输入载重(吨)">
                    </div>
                    <div class="mui-input-row d-flex align-items-center">
                        <label>车辆品牌</label>
                        <input type="text" class="mui-input-clear" v-model.trim="pinpai" placeholder="请输入车辆品牌(选填)">
                    </div>
                    <div class="mui-input-row d-flex align-items-center on">
                        <label>出场年份</label>
                        <input type="text" readonly="readonly" class="mui-input-clear" v-model.trim="year" placeholder="出厂年份(选填)">
                    </div>
                    <div class="mui-button-row nextStep">
                        <button type="button"  :class="addClass ? 'mui-btn-success' : ''" class="mui-btn" @click="nextStep2">提交</button>
                    </div>
                </form>
            </div>
            <div class="step3" v-if="stepShow3">
                <div class="step1Top d-flex justify-content-center padding-a-14">
                    <div class="d-flex justify-content-center stepBox">
                        <div class="per">
                            <div class="step">
                                <img src="../../static/images/true.png" alt="">
                            </div>
                            <div class="stepInfo">
                                个人信息
                            </div>
                        </div>
                        <div class="per">
                            <div class="step">
                                <img src="../../static/images/true.png" alt="">
                            </div>
                            <div class="stepInfo">
                                公司信息
                            </div>
                            
                        </div>
                        <div class="per last">
                            <div class="step green">
                                3
                            </div>
                            <div class="stepInfo">
                                完成
                            </div>
                        </div>
                        <div class="line">
                        </div>
                    </div>
                </div>
                <div class="result">
                    <div class="resultT d-flex justify-content-center">
                        <img src="../../static/images/cardon.png" alt="">
                    </div>
                    <dl class="resultC">
                        <dt class="d-flex justify-content-center">
                            您的申请已提交成功！ 
                        </dt>
                        <!-- <dd class="d-flex justify-content-center">
                            文案信息文案信息文案信息文案信息文案信息文案信息文案信息
                        </dd> -->
                    </dl>
                    <div class="mui-button-row nextStep goMine">
                        <button type="button"  class="mui-btn mui-btn-success" @click="nextStep2">完成</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="getCarType d-flex flex-wrap font-size-14 font-l2-color "  v-if="selectArea">
            <div class="area common">
                <div class="step1 step"  v-if="step1Show">
                    <!-- <div class="header">
                        已选择: <span id="selected">{{selectedArea}}</span>
                    </div> -->
                    <div class="container d-flex flex-auto align-items-center justify-content-center">
                        <div class="d-flex flex-wrap font-size-14 font-l2-color " id="province">
                            <div class="length-sel" :class="{ 'select11': index === step1Border }" v-for="(item , index) in carLength" :key="index" @click="getCitiesList(item.value , index)">{{item.value}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="success" v-if="successShow">
            <div class="info d-flex">
                <div class="successImg">
                    <img src="../../static/images/success.png" alt="">
                </div>
                <div>
                    <div class="title">
                        您已通过司机实名认证
                    </div>
                    <div class="username">
                        *小七
                    </div>
                    <div class="carNumber">
                        612************122
                    </div>
                </div>
                
            </div>
            <ul class="mui-table-view successB">
                <li class="mui-table-view-cell d-flex justify-content-between">
                    <span class="compantInfo">公司信息</span>
                    <span>11</span>
                </li>
                <li class="mui-table-view-cell d-flex justify-content-between">
                    <span class="compantInfo">公司名称</span> 
                    <span >22</span>
                </li>
                <li class="mui-table-view-cell d-flex justify-content-between"> 
                    <span class="compantInfo">公司地址</span>
                    <span class="mui-navigate-right">33</span>
                </li>
            </ul>
        </div>
        <div class="failed" v-if="failedShow">
            <dl>
                <dt class="d-flex justify-content-center">
                    <img src="../../static/images/false.png" alt="">
                </dt>
                <dd class="d-flex justify-content-center failInfo">
                        认证未通过
                </dd>
                <dd class="d-flex justify-content-center">
                        文案信息文案信息文案信息文案信息文案信息文案信息文案信息文案信息
                </dd>
            </dl>
            <div class="mui-button-row nextStep">
                <button type="button"  class="mui-btn mui-btn-success">重新认证</button>
                <button type="button"  class="mui-btn" >暂不认证</button>
            </div>
        </div>
		<!-- <div style="line-height: 1;" class="mui-content position-relative bg-white margin-b-60 margin-a-15 font-size-20">
			待开放...
		</div> -->
		
	</div>
	<script src="../../static/js/zepto-1.2.0.js" type="text/javascript" charset="utf-8"></script>
	
	<script src="../../static/js/public.js" type="text/javascript" charset="utf-8"></script>
	<script src="certifiedDriver.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>

