.box{
    margin-top: 40px;
}
.box .per{
    margin-right: .5rem;
    text-align: center;
    background: #fff;
    z-index: 2
}
.step1Top{
    position: relative;
}
.stepBox{
    position: relative;
}
.line{
    width: 100%;
    height: .02rem;
    background: #CCCCCC;
    position: absolute;
    top: .05rem;
    left: 0;
    z-index: 1;
}
.box .last{
    margin-right: 0;
}

.box .per .step{
    width: .14rem;
    height: .14rem;
    line-height: .14rem;
    color: #fff;
    background: #CCCCCC;
    font-size: .12rem;
    border-radius: .07rem;
    margin: 0 auto;
}
.box .per .step img{
    width: .14rem;
    height: .14rem;
    
}
.box .per .green{
    background: #45C175;
}
.box .per .stepInfo{
    margin-top: .04rem;
}
.box .result{
    padding: .4rem 0;
}
.box .result img{
    width: 1.56rem;
    height: .99rem;
}
.box .result .resultC{
    padding:0 .62rem;
}
.box .result .resultC dt{
    font-size: .16rem;
    color: #212121;
}
.box .result .resultC dd{
    margin-left: 0;
    font-size: .12rem;
    color: #999999;
}
.nextStep{
    position: fixed;
    left: 0;
    bottom: .1rem;
    width: 100%;
    z-index: 5;
}
.nextStep button{
    width: 91%;
}
.step2 .on{
    padding-right: .14rem;
}
.step2 .on input{
    background:url(../../static/images/j_right.png) no-repeat right center;
    background-size: .08rem;
    
}
.success{
    color: #fff;
}
.success .info{
    margin: 0.3rem;
    padding: .5rem 0 .5rem .5rem;
    background: linear-gradient(-135deg, #444444 0%, #212121 100%);
    box-shadow: 0 .02rem .06rem 0 rgba(33,33,33,0.50);
    border-radius: .04rem .04rem .04rem  .04rem;
}
.success .successB{
    color: #999999;
    font-size: .12rem
}
.success .successB .compantInfo{
    font-size: .14rem;
    color: #212121;
}
.success .info .successImg{
    width:0.3rem;
    height: 0.3rem;
    margin-right: .2rem;
}
.success .info .successImg img{
    width: 100%;
}
.success .info .title{
    font-size: .16rem;
    font-weight: bold;
}
.success .info .username , .success .info .carNumber{
    font-size: .12rem;
}

.failed{
    padding: .56rem .62rem 0 .62rem;
}
.failed img{
    width: 1.12rem;
    height: .97rem;
}
.failed dd{
    margin-left: 0;
    font-size: 12px;
    color: #999999;
    line-height: .16rem;
}
.failed .failInfo{
    margin: .4rem 0 .12rem;
    color: #000;
    font-size: .16rem;
}
.failed .nextStep button{
    margin: .1rem 0;
}
.step1,.step2 ,.step3{
	background: #fff;
	padding-top: 0.19rem;
}
.header{
	margin-bottom: 0.17rem;
	color: #777777;
	padding-left: 0.14rem;
	position: relative;
}
.header em{
	position: absolute;
	right: 0.14rem;
	font-style: normal;
	color: #45C175;
}
.getCarType{
    position:fixed;
    top:40px;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 8;
}
.getCarType .area{
    width: 100%;
}
.length-sel {
    width: 0.72rem;
    margin: 0.07rem;
    height: 0.3rem;
    line-height: 0.28rem;
    text-align: center;
    border: 1px solid #ededed;
    border-radius: 0.03rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.select11 {
    border: 1px solid #45C175!important;
    color: #45C175!important;
}