{{extend '/comm/layout.html'}}

{{block 'pageHeader'}}

<style>
</style>

{{/block}}


{{block 'tabContent'}}

<div class="panel panel-primary">
    <div class="panel-heading">
        base grid
    </div>
    <div class="panel-body">
        <div id="myjqgridwrapper">
            <table id="jqGrid"></table>
            <div id="jqGridPager"></div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        editor grid
    </div>
    <div class="panel-body">
        <div id="myjqgridwrapper1">
            <table id="jqGrid1"></table>
            <div id="jqGridPager1"></div>
        </div>
    </div>
</div>




{{/block}}