{{extend '/comm/layout.html'}}

{{block 'pageHeader'}}



{{/block}}


{{block 'tabContent'}}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">POPUP</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="panel panel-default">
    <div class="panel-heading">
        Popup
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <button class="btn btn-success" id="btnOk">ok</button>
        <button class="btn btn-danger" id="btnDanger">danger</button>
        <button class="btn btn-primary" id="btnConfirm">confirm</button>
        <button class="btn btn-primary" id="btnPopIframe">PopIframe</button>
        <button class="btn btn-primary" id="btnTopPopIframe">TopPopIframe</button>



    </div>
    <!-- /.panel-body -->
</div>
<div id="panel">
</div>

{{/block}}