$red : #d71711;

$border-color: #dcdfe6;
$border-color-hover: #C0C4CC;
$border-color-active: #459FFC;

$title-bar-color: #ecf0f1;
$footer-bar-color: #f2f2f2;

$panel-body-bg: #fff;
$head-text-color: #555;

$topbar-bg: #167BE0;
$sidebar-bg: #F7FAFC;

$login-bg: #2d3a4b

